version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1.0

executors:
  linux:
    machine:
      image: ubuntu-2024.01-20.04

# Define the jobs we want to run for this project
jobs:
  unit_test:
    executor: linux
    steps:
      - checkout
      - run:
          name: Run unit tests
          command: make test
  build:
    executor: linux
    steps:
      - checkout
      - run:
          name: Build
          command: make build
  
# Orchestrate our job run sequence
workflows:
  version: 2
  test_and_release:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: hammerhead-alerts
      - unit_test:
          name: Unit tests
      - build:
          name: Build
          requires:
            - Unit tests
