version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1
  win: circleci/windows@5.0


base_image: &base_image
  resource_class: small
  docker:
    - image: cimg/go:1.22

# Define the jobs we want to run for this project
jobs:
  unit_test:
    <<: *base_image
    steps:
      - checkout
      - run:
          name: Run unit tests
          command: make test

  windows_test:
    executor:
      name: win/server-2022
      version: "current"

    steps:
      - checkout
      - run:
          name: Run unit tests
          command: make test

  build:
    <<: *base_image
    steps:
      - checkout
      - run:
          name: Lint
          command: make lint
      - run:
          name: Build
          command: make build

  security-scans:
    <<: *base_image
    steps:
      - checkout
      - prodsec/security_scans:
          mode: auto


# Orchestrate our job run sequence
workflows:
  test_and_release:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: cli-alerts
      - security-scans:
          context: devex_cli
      - unit_test:
          name: Unit tests
      - windows_test:
          name: Windows tests
      - build:
          name: Build
          requires:
            - Unit tests
            - Windows tests
