{{- define "main" -}}
{
{{- $findingsSize := len $.Findings}}
{{- $findingsSize = sub $findingsSize 1}}
    "findings" :
    [
{{- range $index, $element := $.Findings}}
        "{{$element.Attributes.Message.Header}}"{{if lt $index $findingsSize}},{{end}}

{{- end }}
    ]
}
{{- end }}
{{- template "main" . }}u
