{{define "finding"}}
   {{- (renderToString "severity" . | toUpperCase)}} {{.Attributes.Message.Header}}
   {{- range $location := $.Attributes.Locations}}
       {{- if $location.SourceLocations}}
   Path: {{$location.SourceLocations.Filepath}}
       {{- end }}
   {{- end }}
   Info: {{.Attributes.Message.Text}}
{{end}}

{{- define "severity"}}✗ [{{.Attributes.Rating.Severity.Value}}]{{end}}
