{{define "finding"}}
 ✗ [{{.Attributes.Rating.Severity.Value}}] {{.Attributes.Message.Header}}
   {{- range $location := $.Attributes.Locations}}
   Path: {{$location}}
   {{- end }}
   Info: {{.Attributes.Message.Text}}
{{end}}