{{- define "issueHeader"}}
 {{- $severity := .GetEffectiveSeverity }}
 {{- $title := .GetTitle }}
 {{- $prefix := "✗" }}
 {{- $ignoreDetails := .GetIgnoreDetails }}
    {{- if $ignoreDetails }}
        {{- $ignoreStatus := $ignoreDetails.GetStatus }}
        {{- if eq $ignoreStatus "ignored" }}{{- $prefix = "! [IGNORED]" }}
        {{- else if eq $ignoreStatus "pending_ignore_approval" }}{{- $prefix = "! [PENDING IGNORE...]" }}
        {{- end -}}
    {{- end -}}
{{- printf " %s %s %s" $prefix (printf "[%s]" ($severity | toUpperCase) | renderInSeverityColor) ($title | bold) -}}
{{- end }} {{/* end issueHeader */}}

{{- define "issueBody" }}
   Finding ID: {{ .GetID }}
   Info: https://snyk.io/vuln/{{ .GetID }}
   {{- $componentName := getData . "component-name" }}
   {{- if $componentName }}
   Introduced by: {{ $componentName }}
   {{- end }}
   {{- $depPaths := getData . "dependency-paths" }}
   {{- if $depPaths }}
   {{- if gt (len $depPaths) 0 }}
   {{- $path := index $depPaths 0 }}
   Introduced through:{{- range $idx, $pkg := $path }} {{if $idx}}> {{end}}{{ $pkg.Name }}@{{ $pkg.Version }}{{- end }}
   {{- end }}
   {{- end }}
   {{- $riskScore := .GetRiskScore }}
   {{- if $riskScore }}
   Risk Score: {{ $riskScore }}
   {{- end }}
   {{- $reachability := .GetReachability }}
   {{- $findingType := .GetFindingType }}
   {{- if $reachability }}
    {{- $reachabilityString := "" }}
    {{- if eq $reachability.Reachability "function" }}
        {{- $reachabilityString = "Reachable" }}
    {{- else if eq $reachability.Reachability "no_info" }}
        {{- $reachabilityString = "No Path Found" }}
    {{- else }}
        {{- $reachabilityString = "Not Applicable" }}
    {{- end }}
   Reachability: {{ $reachabilityString }}
   {{- else }}
   Reachability: Not Applicable
   {{- end }}
{{- end}} {{/* end issueBody */}}

{{- define "issueDetails" }}
{{- template "issueHeader" . }}
{{- template "issueBody" . }}
{{- end }} {{/* end issueDetails */}}

{{- define "testSummary"}}{{ "Test Summary" | bold }}
{{- $metadata := .GetMetadata }}
{{- $targetDirectory := index $metadata "target-directory" }}
{{- $findingTypes := getFindingTypesFromTestResult . }}
  Organization:      {{ getValueFromConfig "internal_org_slug" }}
  Test type:         {{ determineProductNameFromFindingTypes $findingTypes }}
  Project path:      {{ $targetDirectory }}
{{- end }} {{/* end testSummary */}}

{{- define "resultHeader" }}
   {{- $metadata := .GetMetadata }}
   {{- $targetFile := index $metadata "display-target-file" }}
   {{- $dependencyCount := index $metadata "dependency-count" }}
   {{- /* Get all open issues, no matter what type */}}
   {{- $issues := getIssuesFromTestResult . }}
   {{- $openIssues := sortAndFilterIssues $issues false }}
   {{- /* Count vulnerable paths */}}
   {{- $vulnerablePaths := 0 }}
   {{- range $issue := $openIssues }}
   {{- $depPaths := getData $issue "dependency-paths" }}
   {{- $vulnerablePaths = add (len $depPaths) $vulnerablePaths }}
   {{- end }}
   {{- printf "Testing  (%s) ..." $targetFile | bold }}
   {{- "\n" }}

   {{- if gt (int $dependencyCount) 0 }}
Tested {{ int $dependencyCount }} dependencies for known issues, found {{ len $openIssues }} issues, {{ $vulnerablePaths }} vulnerable paths.
{{- "\n" }}
{{- end }}
{{- end }}

{{- define "resultBody" }}
    {{- /* Render Issue details per finding type */}}
    {{- $findingTypes := getFindingTypesFromTestResult . }}
    {{- range $findingType := $findingTypes }}
        {{- $allIssues := getIssuesFromTestResult $ $findingType }}
        {{- $openIssues := sortAndFilterIssues $allIssues false }}

        {{- "\n" }}
        {{- printf "Open %s issues: %d" (convertTypeToIssueName $findingType) (len $openIssues) | bold }}
        {{- "\n" }}

        {{- /* Render open issues */}}
        {{- range $issue := $openIssues }}
            {{- "\n" }}
            {{- template "issueDetails" $issue }}
            {{- "\n" }}
            {{- end }}

            {{- /* Render suppressed issues if any exist */}}
            {{- if eq (getValueFromConfig "include-ignores") "true" }}
                {{- $suppressedIssues := sortAndFilterIssues $allIssues true }}
                {{- if gt ($suppressedIssues | len) 0 }}
                    {{- "\n" }}
                    {{- printf "Ignored %s issues: %d\n" (convertTypeToIssueName $findingType) (len $suppressedIssues) | bold }}

                    {{- range $issue := $suppressedIssues }}
                        {{- "\n" }}
                        {{- template "issueDetails" $issue }}
                        {{- "\n" }}
                    {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

{{- define "resultFooter" }}
    {{- "\n" }}
    {{- /* Render test summary */}}
    {{- box (renderToString "testSummary" $) }}
{{- end }}

{{- /* Main template */}}
{{- define "main" }}
    {{- /* Render each result */}}
    {{- range $resultIndex, $result := $.TestResults}}
        {{- template "resultHeader" $result}}
        {{- template "resultBody" $result}}
        {{- template "resultFooter" $result}}
    {{- end }}

    {{- /* Show hint if results are filtered */}}
    {{- $severityThresholdKey := "severity-threshold"}}
        {{- if not (eq (getValueFromConfig $severityThresholdKey) "") }}
        {{- "\n" }}
        {{- printf "You are currently viewing results with --%s applied.\nTo view all issues, remove the --%s flag" $severityThresholdKey $severityThresholdKey | tip}}
    {{- end }}

    {{- if ne (getValueFromConfig "include-ignores") "true" }}
        {{- "\n" }}
        {{- tip "To view ignored issues, use the --include-ignores option."}}
    {{- end }}
    {{- "\n" }}
{{- end }} {{/* end main */}}

{{- template "main" . }}
