{{- define "issueHeader"}}
 {{- $severity := .GetEffectiveSeverity }}
 {{- $title := .GetTitle }}
 {{- $prefix := "✗" }}
 {{- $ignoreDetails := .GetIgnoreDetails }}
    {{- if $ignoreDetails }}
        {{- $ignoreStatus := $ignoreDetails.GetStatus }}
        {{- if eq $ignoreStatus "ignored" }}  {{- $prefix = "! [ IGNORED ]" }}
        {{- else if eq $ignoreStatus "pending_ignore_approval" }} {{- $prefix = "! [ PENDING IGNORE... ]" }}
        {{- else -}}
        {{- end -}}
    {{- end -}}
{{- printf " %s %s %s" $prefix (printf "[%s]" ($severity | toUpperCase) | renderInSeverityColor) ($title | bold) -}}
{{- end}} {{/* end issueHeader */}}

{{define "issueBody" }}
   Finding ID: {{ .GetID }}
   Info: https://snyk.io/vuln/{{ .GetID }}
{{- end}} {{/* end issueBody */}}


{{define "issueDetails" }}
    {{- template "issueHeader" . }}
    {{- template "issueBody" . }}
    
{{end }} {{/* end issueDetails */}}


{{define "main" }}
		{{- range $resultIndex, $result := $.TestResults}}
			{{- $findingTypes := getFindingTypesFromTestResult $result }}
			{{- $findingTypesSize := sub (len $findingTypes) 1 }}
			{{- range $findingTypeIndex, $findingType := $findingTypes }}
                {{- $issues := getIssuesFromTestResult $result $findingType }}
                {{- $issuesSize := sub (len $issues) 1 }}
                {{- $metadata := $result.GetMetadata }}
                {{- range $index, $issue := $issues }}
                    {{- template "issueDetails" $issue }}
                {{- end }}
            {{- end }}
        {{- end }}
{{end }} {{/* end main */}}

{{template "main" . }}
