{{define "main" }}
	{
		"$schema": "https://docs.oasis-open.org/sarif/sarif/v2.1.0/errata01/os/schemas/sarif-schema-2.1.0.json",
		"version": "2.1.0",
		"runs": [
		{{- range $resultIndex, $result := $.TestResults}}
			{{- $findingTypes := getFindingTypesFromTestResult $result }}
			{{- $findingType := index $findingTypes 0 }}
			{{- $issues := getIssuesFromTestResult $result }}
			{{- $issuesSize := sub (len $issues) 1 }}
			{{- $metadata := $result.Get "metadata" }}
			{
				"tool": {
					"driver" : {
						"name" : "{{- convertTypeToDriverName (printf "%s" $findingType) }}",
						"semanticVersion" : "{{- getRuntimeInfo "version" }}",
						"version" : "{{- getRuntimeInfo "version" }}",
						"informationUri" : "https://docs.snyk.io/",
						"rules" : [
							{{- $uniqueRules := deduplicateIssues $issues "problemID" }}
							{{- $rulesSize := sub (len $uniqueRules) 1 }}
							{{- range $index, $issue := $uniqueRules }}
							{{- $tags := buildRuleTags $issue }}
							{{- $cvssScore := getRuleCVSSScore $issue }}
							{{- $problemID := $issue.GetProblemID }}
							{{- $codeRule := getSnykCodeRuleFromIssue $issue }}
							{
								"id": {{ getQuotedString $problemID }},
								{{- if $codeRule }}
								"name": {{ getQuotedString $codeRule.Name }},
								{{- end }}
								"shortDescription": {
									"text": {{ getQuotedString (buildRuleShortDescription $issue) }}
								},
								{{- if not $codeRule }}
								{{- with buildRuleFullDescription $issue }}
								"fullDescription": {
									"text": {{ getQuotedString . }}
								},
								{{- end }}
								{{- end }}
								{{- if $codeRule }}
								"defaultConfiguration": {
									"level": {{ getQuotedString (severityToSarifLevel (printf "%s" $codeRule.DefaultConfiguration.Severity)) }}
								},
								{{- end }}
								"help": {
									{{- if $codeRule }}
									"markdown": {{ getQuotedString (derefStr $codeRule.Help.Markdown) }},
									"text": {{ getQuotedString (derefStr $codeRule.Help.Text) }}
									{{- else }}
									"text": "",
									"markdown": {{ getQuotedString (buildRuleHelpMarkdown $issue $issue.GetFindingType) }}
									{{- end }}
								},
								"properties": {
									"tags": [
										{{- if $codeRule }}
										{{- $origTags := $codeRule.Properties.Tags }}
										{{- $origTagsSize := sub (len $origTags) 1 }}
										{{- range $tagIndex, $tag := $origTags }}
										{{ getQuotedString $tag }}{{if lt $tagIndex $origTagsSize}},{{end}}
										{{- end }}
										{{- else }}
										{{- $tagsSize := sub (len $tags) 1 }}
										{{- range $tagIndex, $tag := $tags }}
										{{ getQuotedString (printf "%v" $tag) }}{{if lt $tagIndex $tagsSize}},{{end}}
										{{- end }}
										{{- end }}
									]
									{{- if $codeRule }},
									"categories": [
										{{- $categoriesSize := sub (len $codeRule.Properties.Categories) 1 }}
										{{- range $catIndex, $category := $codeRule.Properties.Categories }}
										{{ getQuotedString $category }}{{if lt $catIndex $categoriesSize}},{{end}}
										{{- end }}
									],
									"exampleCommitFixes": [
										{{- $examplesSize := sub (len $codeRule.Properties.ExampleCommitFixes) 1 }}
										{{- range $exampleIndex, $example := $codeRule.Properties.ExampleCommitFixes }}
										{

											"commitURL": "{{ $example.CommitUrl }}",
											"lines": [
												{{- $lineSize := sub (len $example.Lines) 1 }}
												{{- range $lineIndex, $line := $example.Lines }}
												{
													"line": {{ getQuotedString $line.Line -}},
													"lineNumber": {{ $line.LineNumber }},
													"lineChange": "{{ $line.LineChange }}"
												}{{if lt $lineIndex $lineSize}},{{end}}
												{{- end }}
											]
										}{{if lt $exampleIndex $examplesSize}},{{end}}
										{{- end }}
									],
									"exampleCommitDescriptions": [
										{{- $examplesSize := sub (len $codeRule.Properties.ExampleCommitDescriptions) 1 }}
										{{- range $exampleIndex, $example := $codeRule.Properties.ExampleCommitDescriptions }}
										"{{ $example }}"{{if lt $exampleIndex $examplesSize}},{{end}}
										{{- end }}
									],
									"precision": "{{ $codeRule.Properties.Precision }}",
									"repoDatasetSize": {{ $codeRule.Properties.RepoDatasetSize }},
									"cwe": [
										{{- $cweSize := sub (len $codeRule.Properties.Cwe) 1 }}
										{{- range $cweIndex, $cwe := $codeRule.Properties.Cwe }}
										"{{ $cwe }}"{{if lt $cweIndex $cweSize}},{{end}}
										{{- end }}
									]
									{{- else }}
									{{- if ge $cvssScore 0.0}},
									"cvssv3_baseScore": {{ $cvssScore }},
									"security-severity": {{ getQuotedString (printf "%.1f" $cvssScore) }}{{end}}
									{{- end }}
								}
							}{{if lt $index $rulesSize}},{{end}}
							{{- end }}
						]
						{{- $dependencyCount := index $metadata "dependency-count" }}
						{{- if $dependencyCount }},
						"properties": {
							"artifactsScanned": {{ $dependencyCount }}
						}
						{{- end }}
					}
				},
			"results": [
				{{- $displayTargetFile := $result.GetMetadataValue "display-target-file" }}
				{{- $targetFile := "" }}
				{{- if $displayTargetFile }} {{- $targetFile = $displayTargetFile }} {{- end }}
				{{- range $index, $issue := $issues }}
				{{- $locations := buildLocationsFromIssue $issue $targetFile }}
				{{- $fix := buildFixFromIssue $issue }}
				{{- $ignoreDetails := $issue.GetIgnoreDetails }}
				{{- $problemID := $issue.GetProblemID }}
				{{- $fingerPrintID := $issue.GetID }}
				{{- $findingExtra := getFindingExtraFromIssue $issue $result }}
				{{- $policyMods := getPolicyModificationsFromIssue $issue }}
				{{- $execFlows := getExecutionFlowsFromIssue $issue }}
				{
					"ruleId": {{ getQuotedString $problemID }},
					{{- if $findingExtra }}
					"ruleIndex": {{ $findingExtra.RuleIndex }},
					{{- end }}
					"level": {{ getQuotedString (severityToSarifLevel $issue.GetEffectiveSeverity) }},
					"message": {
						{{- if and $findingExtra $findingExtra.MessageText }}
						"text": {{ getQuotedString $findingExtra.MessageText }},
						"markdown": {{ getQuotedString $findingExtra.MessageMarkdown }},
						"arguments": [
							{{- if $findingExtra.Arguments }}
							{{- $argSize := sub (len $findingExtra.Arguments) 1 }}
							{{- range $argIndex, $arg := $findingExtra.Arguments }}
							{{ getQuotedString $arg }}{{if lt $argIndex $argSize}},{{end}}
							{{- end }}
							{{- end }}
						]
						{{- else }}
						"text": {{ getQuotedString (formatIssueMessage $issue) }}
						{{- if and $findingExtra $findingExtra.Arguments }},
						"arguments": [
							{{- $argSize := sub (len $findingExtra.Arguments) 1 }}
							{{- range $argIndex, $arg := $findingExtra.Arguments }}
							{{ getQuotedString $arg }}{{if lt $argIndex $argSize}},{{end}}
							{{- end }}
						]
						{{- end }}
						{{- end }}
					},
					"locations": [
						{{- range $locIndex, $location := $locations }}
						{{- $logicalLocs := $location.LogicalLocations }}
						{{- $physicalLoc := $location.PhysicalLocation }}
						{{- if $location }}
						{
							{{- if $findingExtra }}
							"id": {{ $locIndex }},
							{{- end }}
							{{- if $physicalLoc }}
							"physicalLocation": {
								"artifactLocation": {
									"uri": {{ getQuotedString $physicalLoc.ArtifactLocation.URI }}
									{{- if $findingExtra }},
									"uriBaseId": "%SRCROOT%"
									{{- end }}
								},
								"region": {
									"startLine": {{ $physicalLoc.Region.StartLine }}{{if $physicalLoc.Region.EndLine}},{{end}}
									{{- if $physicalLoc.Region.EndLine }}
									"endLine": {{ $physicalLoc.Region.EndLine }}{{if $physicalLoc.Region.StartColumn}},{{end}}
									{{- end }}
									{{- if $physicalLoc.Region.StartColumn }}
									"startColumn": {{ $physicalLoc.Region.StartColumn }}{{if $physicalLoc.Region.EndColumn}},{{end}}
									{{- end }}
									{{- if $physicalLoc.Region.EndColumn }}
									"endColumn": {{ $physicalLoc.Region.EndColumn }}
									{{- end }}
								}
							}
							{{- end }}
							{{- if and $physicalLoc $logicalLocs}} , {{end}}
							{{- if $logicalLocs }}
							"logicalLocations": [
								{{- range $logLoc := $logicalLocs }}
								{
									"fullyQualifiedName": {{ getQuotedString $logLoc.FullyQualifiedName }}
								}
								{{- end }}
							]
							{{- end }}
						}
						{{- end }}
						{{if lt $locIndex (sub (len $locations) 1)}},{{end}}
						{{- end }}
					]
					{{- if and (ne (printf "%s" $issue.GetFindingType) "sca") (ne (printf "%s" $issue.GetFindingType) "license") }},
					"fingerprints": {
						{{ fingerprintsJSON $findingExtra $fingerPrintID }}
					}
					{{- end }}
					{{- if $fix }},
					"fixes": [
						{{- if gt (len $locations) 0 }}
						{{- $firstLoc := index $locations 0 }}
						{{- if $firstLoc.PhysicalLocation }}
						{{- $firstPhysicalLoc := $firstLoc.PhysicalLocation }}
						{
							"description": {
								"text": {{ getQuotedString (index $fix "description") }}
							},
							"artifactChanges": [
								{
									"artifactLocation": {
										"uri": {{ getQuotedString $firstPhysicalLoc.ArtifactLocation.URI }}
									},
									"replacements": [
										{
											"deletedRegion": {
												"startLine": {{ $firstPhysicalLoc.Region.StartLine }}
											},
											"insertedContent": {
												"text": {{ getQuotedString (index $fix "packageVersion") }}
											}
										}
									]
								}
							]
						}
						{{- end }}
						{{- end }}
					]
					{{- end }}
					{{- if $ignoreDetails }},
					"suppressions": [
						{
							{{- if and $findingExtra $findingExtra.Suppression }}
							{{- $suppExtra := $findingExtra.Suppression }}
							{{- if $suppExtra.GUID }}
							"guid": {{ getQuotedString $suppExtra.GUID }},
							{{- end }}
							{{- $status := printf "%s" $ignoreDetails.GetStatus }}
							{{- if eq $status "ignored" }}
							"status": "accepted"
							{{- else if eq $status "pending_ignore_approval" }}
							"status": "underReview"
							{{- else if eq $status "other" }}
							"status": "rejected"
							{{- else }}
							"status": "accepted"
							{{- end }},
							{{- $justification := $ignoreDetails.GetJustification }}
							{{- if $justification }}
							"justification": {{ getQuotedString $justification }},
							{{- end }}
							"kind": "external"
							{{- if or $suppExtra.Category $suppExtra.Expiration $suppExtra.IgnoredOn $suppExtra.IgnoredBy }},
							"properties": {
								{{- if $suppExtra.Category }}
								"category": {{ getQuotedString $suppExtra.Category }}{{if or $suppExtra.Expiration $suppExtra.IgnoredOn $suppExtra.IgnoredBy}},{{end}}
								{{- end }}
								{{- if $suppExtra.Expiration }}
								"expiration": {{ getQuotedString $suppExtra.Expiration }}{{if or $suppExtra.IgnoredOn $suppExtra.IgnoredBy}},{{end}}
								{{- end }}
								{{- if $suppExtra.IgnoredOn }}
								"ignoredOn": {{ getQuotedString $suppExtra.IgnoredOn }}{{if $suppExtra.IgnoredBy}},{{end}}
								{{- end }}
								{{- if $suppExtra.IgnoredBy }}
								"ignoredBy": {
									"name": {{ getQuotedString $suppExtra.IgnoredBy }},
									"email": {{ getQuotedString $suppExtra.Email }}
								}
								{{- end }}
							}
							{{- end }}
							{{- else }}
							{{- $policyID := $ignoreDetails.GetPolicyID }}
							{{- if $policyID }}
							"guid": {{ getQuotedString $policyID }},
							{{- end }}
							{{- $status := printf "%s" $ignoreDetails.GetStatus }}
							{{- if eq $status "ignored" }}
							"status": "accepted"
							{{- else if eq $status "pending_ignore_approval" }}
							"status": "underReview"
							{{- else if eq $status "other" }}
							"status": "rejected"
							{{- else }}
							"status": "accepted"
							{{- end }},
							{{- $justification := $ignoreDetails.GetJustification }}
							{{- if $justification }}
							"justification": {{ getQuotedString $justification }},
							{{- end }}
							"kind": "external"
							{{- $reasonType := $ignoreDetails.GetIgnoreReasonType }}
							{{- $createdAt := $ignoreDetails.GetCreatedAt }}
							{{- $expiresAt := $ignoreDetails.GetExpiresAt }}
							{{- $ignoredBy := $ignoreDetails.GetIgnoredBy }}
							{{- if or $reasonType $createdAt $expiresAt $ignoredBy }},
							"properties": {
								{{- if $reasonType }}
								"category": {{ getQuotedString $reasonType }}{{if or $expiresAt $createdAt $ignoredBy}},{{end}}
								{{- end }}
								{{- if $expiresAt }}
								"expiration": "{{ $expiresAt.Format "2006-01-02T15:04:05Z07:00" }}"{{if or $createdAt $ignoredBy}},{{end}}
								{{- end }}
								{{- if $createdAt }}
								"ignoredOn": "{{ $createdAt.Format "2006-01-02T15:04:05Z07:00" }}"{{if $ignoredBy}},{{end}}
								{{- end }}
								{{- if $ignoredBy }}
								"ignoredBy": {
									"name": {{ getQuotedString $ignoredBy.Name }},
									{{- if $ignoredBy.Email }}
									"email": {{ getQuotedString $ignoredBy.Email }}
									{{- else }}
									"email": ""
									{{- end }}
								}
								{{- end }}
							}
							{{- end }}
							{{- end }}
						}
					]
					{{- end }}
					{{- if $execFlows }},
					"codeFlows": [
						{{- $cfSize := sub (len $execFlows) 1 }}
						{{- range $cfIndex, $flow := $execFlows }}
						{
							"threadFlows": [
								{
									"locations": [
									{{- $locSize := sub (len $flow.Flow) 1 }}
									{{- range $locIndex, $loc := $flow.Flow }}
									{
										"location": {
											"id": {{ $locIndex }},
											"physicalLocation": {
												"artifactLocation": {
												  "uri": {{ getQuotedString $loc.FilePath }},
												  "uriBaseId": "%SRCROOT%"
												},
												"region": {
												  "startLine": {{ $loc.FromLine }}
												  {{- if $loc.ToLine }},
												  "endLine": {{ $loc.ToLine }}
												  {{- end }}
												  {{- if $loc.FromColumn }},
												  "startColumn": {{ $loc.FromColumn }}
												  {{- end }}
												  {{- if $loc.ToColumn }},
												  "endColumn": {{ $loc.ToColumn }}
												  {{- end }}
												}
											}
										}
									}{{if lt $locIndex $locSize}},{{end}}
									{{- end }}
									]
								}
							]
						}{{if lt $cfIndex $cfSize}},{{end}}
						{{- end }}
					]
					{{- end }}
					{{- $riskScore := $issue.GetRiskScore }}
					{{- if $findingExtra }},
					"properties": {
						"isAutofixable": {{ $findingExtra.IsAutofixable }},
						{{- if or $findingExtra.PolicyOriginalLevel $findingExtra.PolicySeverity $findingExtra.PolicyOriginalSeverity }}
						"snykPolicy/v1": {
							{{- if $findingExtra.PolicyOriginalLevel }}
							"originalLevel": {{ getQuotedString $findingExtra.PolicyOriginalLevel }}{{if or $findingExtra.PolicySeverity $findingExtra.PolicyOriginalSeverity}},{{end}}
							{{- end }}
							{{- if $findingExtra.PolicySeverity }}
							"severity": {{ getQuotedString $findingExtra.PolicySeverity }}{{if $findingExtra.PolicyOriginalSeverity}},{{end}}
							{{- end }}
							{{- if $findingExtra.PolicyOriginalSeverity }}
							"originalSeverity": {{ getQuotedString $findingExtra.PolicyOriginalSeverity }}
							{{- end }}
						},
						{{- end }}
						"priorityScore": {{ $riskScore }},
						"priorityScoreFactors": [
						{{- if $findingExtra.PriorityScoreFactors }}
						{{- $factorSize := sub (len $findingExtra.PriorityScoreFactors) 1 }}
						{{- range $fIdx, $factor := $findingExtra.PriorityScoreFactors }}
							  {
								"label": {{ $factor.Label }},
								"type": {{ getQuotedString $factor.Type }}
							  }{{if lt $fIdx $factorSize}},{{end}}
						{{- end }}
						{{- end }}
						]
					}
					{{- else if or $policyMods (gt (int $riskScore) 0) }},
					"properties": {
						{{- if $policyMods }}
						"snykPolicy/v1": {
							{{- range $pmod := $policyMods }}
							"reason": {{ getQuotedString $pmod.Reason }}
							{{- end }}
						}{{if gt (int $riskScore) 0}},{{end}}
						{{- end }}
						{{- if gt (int $riskScore) 0 }}
						"priorityScore": {{ $riskScore }}
						{{- end }}
					}
					{{- end }}
				}{{if lt $index $issuesSize}},{{end}}
				{{- end }}
			],
				{{- $coverage := getCoverageFromTestResult $result }}
				{{- $reportURL := index $metadata "report-url" }}
				{{- if or $coverage $reportURL }}
				"properties": {
					{{- if $coverage }}
					"coverage": [
						{{- $coverageSlice := $coverage }}
						{{- $covSize := sub (len $coverageSlice) 1 }}
						{{- range $covIndex, $cov := $coverageSlice }}
						{
							"files": {{ $cov.Files }},
							"isSupported": {{ $cov.IsSupported }},
							"lang": {{ getQuotedString $cov.Lang }},
							"type": {{ getQuotedString $cov.Type }}
						}{{if lt $covIndex $covSize}},{{end}}
						{{- end }}
					]
					{{- end }}
					{{- if and $coverage $reportURL }},{{end}}
					{{- if $reportURL }}
					{{- $projectId := index $metadata "projectid" }}
					{{- $snapshotId := index $metadata "snapshotid" }}
					"uploadResult": {
						{{- if $projectId }}
						"projectId": {{ getQuotedString (printf "%s" $projectId) }},
						{{- end }}
						{{- if $snapshotId }}
						"snapshotId": {{ getQuotedString (printf "%s" $snapshotId) }},
						{{- end }}
						"reportUrl": {{ getQuotedString (printf "%s" $reportURL) }}
					}
					{{- end }}
				},
				{{- end }}
				"automationDetails": {
					{{- $projectName := or (index $metadata "project-name") "" }}
					{{- if not $projectName }} {{- $projectName = printf "%d" $resultIndex }} {{- end }}
					"id": {{- getQuotedString (getAutomationDetailsId $projectName (printf "%s" $findingType)) }}
				}
			}{{if (lt $resultIndex (sub (len $.TestResults) 1))}},{{end}}{{- end}}
		]
	}
{{end }} {{/* end main */}}

{{template "main" . }}
