{{- define "finding" -}}
{{- $title := .Title -}}
{{- $description := .Message -}}
{{- if eq $title "" -}}
{{- $title = .Message -}}
{{- end -}}
{{ severityIcon .Severity }} {{ severityColor .Severity (printf "[%s]" (toUpper .Producer)) }} {{ trimRight $title}}
{{- if ne $title $description }}
  Description: {{ $description }}
{{- end -}}
{{- if .Lines }}
  Occurrences: {{ range $i, $l := .Lines }}{{ if $i }}, {{ end }}L{{ $l }}{{ end }}
{{- end -}}
{{- range $k, $v := .Fields }}
  {{ capitalize $k }}: {{ $v }}
{{- end -}}
{{- range .Remediation }}
→ {{ . }}
{{- end -}}
{{- "\n\n" }}
{{- end -}}

{{- define "main" -}}
{{- printf "%s" (title "Snyk Doctor Diagnostic Report") -}}
{{- printf "%s" (title "Basic Information") -}}
{{- if .Summary.Fields -}}
{{- range .Summary.Fields -}}
- {{ .Key }}: {{ .Value }}{{- "\n" }}
{{- end -}}
{{- end }}

{{- printf "%s" (title "Symptoms") -}}
{{- range .Findings -}}
{{ template "finding" . }}
{{- end }}
{{- end -}}

{{- template "main" . -}}
